<!DOCTYPE html>
<html> 
<head>
<meta charset=UTF-8" />
<title>DUMP978-WX Data</title>

 	<input type="hidden" id="port" value="<%=ptnum %>"/>

	<link rel="stylesheet" href="/leaflet/leaflet.css"/>
	<script type="text/javascript", src="/leaflet/leaflet.js"></script>
	<script  type="text/javascript", src="/leaflet/jquery.js"></script> 
	<script  type="text/javascript", src="/leaflet/leaflet-realtime.js"></script>  
	
<style>

#wrapper {
	margin: 0 auto;
  	width: 100%;
}

#panel{
 	float: left;
	width: 100%;
  	height:40px;
	background-color: #175B81;
	color:white;
}

#map {
  	float: left;
  	width: 80%;
  	height:900px;
}

.sidebar {
	float: left;
 	width: 20%;
  	height:800px;
	background-color: #d3eaf8;
   	color: #175B81;
}

#footer {
	float: left;
	background-color: #175B81;
	color: white;
  	width: 100%;
  	height:20px
}

.container {
  	display: block;
  	position: relative;
  	padding-left: 1px;
  	margin-bottom: 12px;
  	cursor: pointer;
  	font-size: 10px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.text-labels {
	font-weight: bold;
    color:#006400;
	font-family: "Arial Black";
	font-size: 20px ;
    line-height:14px;
    text-align:center;
   }
   
table, th, td 
	{
		margin:0px 5px;
		border:solid 1px #333; 
		padding:2px 4px;
		font:10px arial;
	}
th {
		font-size:11px;
		font-weight:bold;
		
	}
td {
		font-size:11px;
		font-weight:normal
	}
tr:nth-child(even)  {
		background: #E6BECF;
	}
tr:nth-child(odd)  {
		background: #BEE6D5;
	}
tbody  tr:hover {
		background: yellow;
	}
table {
		border-collapse: collapse;
	}  
.table a
{
    display:block;
    text-decoration:none;
}

#f1{
	font-weight:bold
}

.p2 {
    font-size: 20px;
	font-weight:bold;
    position: relative;
    top: 11px;
	left: 20px;
	}

select { 
	appearance: none; 
    outline: 0; 
    background: white; 
    background-image: none; 
    border:1px solid black; 
    font:14px arial;
  	} 

.select { 
    width: 10%; 
    height: 33em; 
    line-height: 3; 
    background: #d3eaf8; 
    overflow: hidden; 
    border-radius: .25em; 
    }	

label {
	font:12px arial;
}

#first {
    width: 50%;
    float: left;
}

#second {
    width: 50%;
    float: left;
}

#ckboxes {	/* pushes checkbox a little from sidebar left edge */
	padding-left: 1px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  appearance: none;
  width: 90%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
 }

</style>
</head>
<body>

<div id="wrapper">
	<div id="panel"><span class="p2">DUMP978 - WX Display</span> </div>
  	<div id="map"></div>
  
	<div class="sidebar">
	<p style="text-align:center; font-size: 12px; color:#175B81; 
		font-weight:bold; "><span id="metar">Details</span></p>	 

<div id="ckboxes">
	<div class="checkbox">
		<label>
			<input type="checkbox"  id="meta" name="meta" checked><b>METAR</b><br>
        </label>
 	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"  id="notam" name="notam" checked><b>NOTAM</b><br>
        </label>
 	</div> 	
			
<table  style="width:90%">
	<tr>
		<th align="left">Station</th>
       	<td id='f1'></td>
	</tr> <tr>
       	<th align="left">Location</th>
       	<td id='f2'></td></tr>
    <tr>
   		<th align="left">Time</th>
       	<td id='f3'></td>
    </tr> <tr>
		<th align="left">Temp</th>
       	<td id='f4'></td>
    </tr> <tr>
       	<th align="left">Wind Speed</th>
       	<td id='f5'></td></tr>
     <tr>
		<th align="left">Visibility</th>
       	<td id='f6'><a href="#"></a></td>
 </table>
			   
<hr>
   
 <div class ='container'>
	<div id="first">
    	<label>
			<input type="checkbox"  id="gmet" name="gmet" checked><b>G-AIRMET</b><br>
	    </label> 
	</div>
<div class="slidecontainer">
	<input type="range" min="-1000" max="65000" value="-1000" 
  		class="slider" id="gmsliderRange">
    <p>Value: <span id="demo"></span></p> 
</div>	
	<div id="first">
    	<label>
			<input type="checkbox"  id="amet" name="amet" checked><b>AIRMET </b><br>
   		</label> 
	</div>
<div class="slidecontainer">
	<input type="range" min="-1000" max="65000" value="-1000" 
  		class="slider" id="amsliderRange">
    <p>Value: <span id="demo1"></span></p> 
</div>
		
	<div id="first">
   		<label>
			<input type="checkbox"  id="smet" name="smet" checked><b>SIGMET </b><br>
   		</label> 
	</div>	
<div class="slidecontainer">
	<input type="range" min="-1000" max="65000" value="-1000" 
  		class="slider" id="smsliderRange">
    <p>Value: <span id="demo2"></span></p> 
</div>

</div>	
	
<hr>
<table  style="width:90%">
	<tr>
       	<th align="left">Type</th>
       	<td id='f11'></td>
	</tr> <tr>
       	<th align="left">Altitude</th>
       	<td id='f12'></td></tr>
   	<tr>
   		<th align="left">Report#</th>
       	<td id='f13'></td>
    </tr> <tr>
		<th align="left">Condition</th>
       	<td id='f14'><a href="#"></a></td>
</table>

</div>
</div>
<div id="footer">  </div>
</div>
//<script src="map978pg.js" type="text/javascript"></script>
<script id="port"
  src="map978pg.js" </script>


</body>
</html>