<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
	<meta name="viewport" content="width=device-width" />

	<title>DUMP978-WX Data</title>
	<input type="hidden" id="port" value="<%=ptnum %>"/>
	<link rel="stylesheet" href="map978.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>

<body>
<nav class="topnav">
	<a class="disabled_left">DUMP978 - METAR Details</a>
	<a class="disabled_left">
		<span id="UTC_za00"></span>z
		<script src="//widget.time.is/t.js"></script>
		<script>time_is_widget.init({UTC_za00:{}});	</script></a> 
</nav>

<div id="chart-container">
	<canvas id="mycanvas"></canvas>
</div>

<div id="footer"></div>
<script src="map978p5.js"></script>

</body>
</html>