<!DOCTYPE html>
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>DUMP978-WX Data</title>
	<input type="hidden" id="port" value="<%=ptnum %>"/>
	<link rel="stylesheet" href="map978.css">
	<link rel="stylesheet" href="/leaflet/leaflet.css"/>
	<script src="/leaflet/leaflet.js"></script>
	<script src="/leaflet/jquery.js"></script> 
	<script src="/leaflet/leaflet-realtime.js"></script>

<style>
table, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<div class="topnav">
	<a class="active" href="/">Home</a>
	<a href="page2">New Page</a>
	<a href="#news">News</a>
	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	<a class="disabled">DUMP978 - TFR Display:</a>  
	<a href="https://time.is/UTC" id="time_is_link" rel="nofollow" ></a>	
	<a class="disabled">
		<span id="UTC_za00"></span>z
		<script  src="//widget.time.is/t.js"></script>
		<script>time_is_widget.init({UTC_za00:{}});	</script></a>
</div>

<div >
	<p style="text-align:center; font-size: 12px; color:#175B81; 
		font-weight:bold; "><span id="metar">Details</span></p>	
		<table id="myTable"></table>
		<br>
</div>
<div id="footer"></div>

<script src="map978p2.js" type="text/javascript"></script>

</body>
</html>